* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: block;
  background-color: #E5E5E5;
  height: auto;
}

/*-------------------------HOME-------------------------*/
.homeWave {
  position: relative;
  height: 50px;
  width: 100%;
  background: #229ACF;
  padding: 10px 30px;

}

.textP {
  padding: 50px 30px;
}

.textP img {
  width: 300px;
  margin: 10px;
}

h1 {
  font-family: 'Annie Use Your Telescope', cursive;
  color: #FFFFFF;
  z-index: 10;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

.Join,
.SignIn {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Robot', sans-serif;
  background-color: #E57011;
  border-radius: 20px;
  padding: 6px 25px;
  margin: 15%;

}

.Log {
  color: #E57011;
  font-family: 'Robot', sans-serif;
  padding: 6px 25px;
}

input {
  display: flex;
  border-radius: 5px;
}

footer {
  width: 100%;
  height: 7vh;
  background: #229ACF;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 15px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

/* -------------------------SIGN IN -------------------------*/

.waveSign {
  position: relative;
  height: 120px;
  width: 100%;
  background: #229ACF;
  padding: 10px 30px;

}

/* ------------------------- WAVE  ------------------------- */

.wrapper {
  width: 100%;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -90%;
  left: 50%;
  margin-left: -500px;
  margin-top: -870px;
  border-radius: 35%;
  background: #229ACF;
  animation: wave 20s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(deg);
  }

  from {
    transform: rotate(360deg);
  }
}

/* ------------------------- END  WAVE ------------------------- */

#close,
.close {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.welcome {
  font-size: 25px;
  padding: 30px 0px 0px 50px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
}

.create {
  font-size: 15px;
  padding: 65px 0px 0px 80px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
}

input {
  border-radius: 8px;
  width: 210px;
  background-color: #E5E5E5;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

#name {
  margin-top: 140px;
}

.btnSignIn {
  display: block;
  width: 125px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Robot', sans-serif;
  background-color: #E57011;
  border-radius: 20px;
  padding: 6px 25px;
  margin: 50px auto;
}

.signGoogle {
  display: flex;
  justify-content: center;
  color: #229ACF;
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
}

.signGoogle img {
  width: 30px;
  height: 30px;
  margin: 15px 0;
}

.signGoogle p {
  margin: 18px 0px;
  font-size: 15px;
}

/* ------------------------- LOGIN------------------------- */

.waveLog {
  position: relative;
  height: 120px;
  width: 100%;
  background: #229ACF;
  padding: 10px 30px;
}

.welcome {
  font-size: 25px;
  padding: 30px 0px 0px 50px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
}

.welcomeBack {
  font-size: 15px;
  padding: 65px 0px 0px 130px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
}

.LogGoogle {
  display: flex;
  justify-content: center;
  color: #229ACF;
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
}

.LogGoogle img {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.LogGoogle p {
  margin: 18px 0px;
  font-size: 15px;
}

.LogIn {
  display: block;
  width: 125px;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Robot', sans-serif;
  background-color: #E57011;
  border-radius: 20px;
  padding: 6px 25px;
  margin: 50px 35%;
}

.formLogin {
  margin-top: 4000px;
}

.loginInput1 {
  border-radius: 8px;
  width: 210px;
  background-color: #E5E5E5;
  margin-top: 140px;
  padding: 10px;
  border: none;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

.loginInput {
  border-radius: 8px;
  width: 210px;
  background-color: #E5E5E5;

  margin: 10px 80px;
  padding: 10px;
  border: none;
  border: 1px solid #ccc;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

.LogGoogle {
  display: flex;
  justify-content: center;
  color: #229ACF;
  font-family: 'Roboto', sans-serif;
  margin: 48px 0;
}

.LogGoogle img {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.LogGoogle p {
  margin: 18px 0px;
  font-size: 15px;
}


/* ------------------------- WALL------------------------- */

/* ================== MENU DESPLEGABLE================== */



/* ================== FIN MENU DESPLEGABLE================== */



.modal-window {

  display: none;
  position: relative;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  align-items: center;
  top: 0;
  margin: auto;
  margin-top: 10%;
  background-color: #3d1e38ef;
  width: 330px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
  text-align: left;
  transition: 350ms all;
  padding: 5px;
  font-size: 10px;
  flex-direction: column;

}

.newPost {
  border-radius: 10px;
  background-color: aquamarine;
  padding: 8%;
  margin: 2%;
  margin-left: 10%;
  width: 70%;
  display: flex;
  justify-content: center;
}


@media (min-width: 600px) {

  /*-------------------------HOME-------------------------*/
  .homeWave {
    height: 50px;
    width: 100%;
    background: #229ACF;
    padding: 10px 30px;

  }

  .textP img {
    width: 550px;
    margin-left: 35%;
  }

  h1 {
    width: 70%;
    font-size: 60px;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }


  .Join,
  .SignIn {
    margin-left: 43%;
    margin-right: 5%;
    ;
  }

  footer {
    margin-bottom: -500px;
  }

}
